<!DOCTYPE html>
<html>
<head>
	<title>Museer</title>
	<link rel="shortcut icon" href="/static/favicon.ico"/>
</head>
<body>
	<a href="javascript:void(0);" id="play-music">play</a>
	<a href="javascript:void(0);" id="play-music2">play2</a>
	<a href="javascript:void(0);" id="stop-music">stop</a>
	<a href="javascript:void(0);" id="mute-music">mute</a>
	<a href="javascript:void(0);" id="add-vol">add</a>
	<a href="javascript:void(0);" id="pop-vol">pop</a>

	<script type="text/javascript" src="/static/js/lib/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="/static/js/audio-api.js"></script>
	<script type="text/javascript" src="/static/js/audio-operate.js"></script>
</body>
</html>
